.header { width: 1200px; margin: 0 auto; }

.header-box { width: 100%; background: #fff; padding-bottom: 30px; }

.search-text { margin-top: 23px; margin-right: 10px; width: 0; height: 17px; outline: none; border: 0; float: right; padding: 0 10px; transition: all 0.5s; }

.search-btn { margin-top: 24px; margin-right: 39px; width: 19px; height: 19px; outline: none; border: 0; float: right; cursor: pointer; background: url(../images1/search.png) no-repeat; font-size: 0; }

.menu { width: 1200px; height: 52px; float: left; margin-top: 21px; }

.menu-list { width: 174px; float: left; }

.menu-list a { display: block; font-size: 16px; padding-top: 36px; text-align: center; color: #000; }

.menu-list:hover a { color: #d64640; }

.logo-box { width: 156px; height: 52px; float: left; }

.logo { display: block; width: 156px; height: 52px; background: url(../images1/logo.png) center no-repeat; }

.slider { width: 1200px; height: 603px; margin: 30px auto 0; position: relative; }

.swiper-container { width: 1920px; position: absolute; left: -360px; }

.swiper-pagination-bullet {width: 75px; height: 5px; background: #dcdcdc; border-radius: 0; }

.swiper-pagination-bullet-active { background: #007ae1; }

.swiper-button { width: 100%; float: left; position: relative; top: -300px; }

.swiper-button-prev { width: 60px; height: 60px; top: 0; margin-top: 0; background: url(../images1/left.png) no-repeat; }

.swiper-button-prev:hover { background: url(../images1/left-hover.png) no-repeat; }

.swiper-button-next { width: 60px; height: 60px; top: 0; margin-top: 0; background: url(../images1/right.png) no-repeat; }

.swiper-button-next:hover { background: url(../images1/right-hover.png) no-repeat; }

.main-list { width: 1200px; margin: 49px auto 0; overflow: hidden; }

.left-list { width: 600px; height: 363px; padding-top: 37px; float: left; background-repeat: no-repeat; background-size: 100%;  -webkit-transition:all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s; }
.left-list:hover { background-size: 105%; }

.title1 { margin-left: 39px; font-size: 24px; line-height: 30px; color: #fff; }

.title2 { margin-left: 39px; margin-top: 20px; font-size: 14px; line-height: 15px; color: #fff; }

.list-button { display: block; width: 116px; height: 36px; margin-left: 39px; margin-top: 50px; font-size: 16px; line-height: 36px; text-align: center; background: #fff; color: #ab1723; border-radius: 18px; }

.right-list-box { width: 600px; height: 400px; float: left; overflow: hidden; }

.right-list { width: 300px; height: 200px; float: left; background-repeat: no-repeat; background-size: 100%;  -webkit-transition:all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;  }
.right-list:hover { background-size: 105%; }

.little-title1 { margin-top: 16px; font-size: 20px; line-height: 30px; }

.little-title2 {margin-top: 7px; font-size: 14px; line-height: 24px; }

.little-button { display: block; width: 84px; height: 26px; margin-top: 41px; border-radius: 13px; text-align: center; font-size: 12px; line-height: 26px; color: #fff; background: #b61a25; }

.black { color: #000; }

.gray { color: #7c7c7c; }

.white { color: #fff; }

.left { margin-left: 11px; }

.right { margin-left: 146px;}

.footer { width: 100%; background: #f2f2f2; margin-top: 60px; }

.center { width: 1200px; margin: 0 auto; padding-top: 50px;}

.footer-menu { width: 140px; float: left; }

.fm-title { display: block; width: 140px; font-size: 14px; color: #363636; line-height: 24px; text-align: center; margin-bottom: 15px; }

.fm-list { display: block; width: 140px; font-size: 12px; color: #6d6d6d; line-height: 24px; text-align: center; margin-bottom: 10px; }

.fm-list:hover { color: #f00; }

.tel { float: left; margin-left: 50px; padding-left: 60px; background: url(../images1/tel.png) top left no-repeat; font-size: 14px; line-height: 28px; color: #6d6d6d; }

.tel-title { font-size: 16px; line-height: 30px; }

.tel span { font-size: 30px; line-height: 30px; color: #db453a; }

.tel a { color: #6d6d6d; }

.tel a:hover, .friends-link a:hover, .bottom-list a:hover, .footer-mes a:hover { color: #f00; }

.center-box { width: 1080px; height: 50px; border-bottom: 1px solid #bfbfbf; margin: 0 auto; }

.friends-link { margin-left: 50px; font-size: 14px; line-height: 30px; margin-top: 15px; color: #6d6d6d; }
.friends-link a { color: #6d6d6d; margin-right: 25px; }

.bottom-list { margin-left: 40px; font-size: 14px; line-height: 30px; margin-top: 10px; color: #6d6d6d; }
.bottom-list a { color: #6d6d6d; margin: 0 10px;}

.footer-mes { margin-left: 50px; font-size: 14px; line-height: 30px; margin-top: 6px; color: #ababab; padding-bottom: 66px;}
.footer-mes a { color: #ababab; }
 

/*内页样式*/
.ny-banner { width: 1200px; height: 400px; position: relative; margin: 30px auto 0; background: #f00; }
.ny-banner-img { width: 1920px; height: 400px; position: absolute; left: -360px; }

.breadcrumb { width: 1200px; margin: 20px auto 0; }
.breadcrumb a { font-size: 12px; line-height: 12px; color: #000; margin: 0 5px; }
.breadcrumb a:hover { color: #f00; border-bottom: 1px solid #f00; }
.breadcrumb-ny { width: 1100px; }
.breadcrumb span { color: #a7a7a7; font-size: 12px; line-height: 12px; }

/*.ny-title-img { width: 206px; height: 29px; margin: 50px auto 0; }
.ny-title-img img { width: 100%; height: 100%; }*/
.ny-title-img { width: 1100px; height: 30px; margin: 50px auto 0; }

.ny-center { width: 1200px;  margin: 0 auto; text-align: center; }
.ny-tab { height: 27px; margin-top: 40px; text-align: center; }
.ny-tab li { display: inline-block; }
.ny-tab a { margin: 0 60px; font-size: 18px; color: #666; line-height: 18px;}
.udl { width: 60px; height: 10px; margin: 0 auto; }
.ny-tab-on .udl, .ny-tab li:hover .udl { border-bottom: 1px solid #333; }

.main-history { width: 1100px; margin: 50px auto 0; border-top: 1px solid #333; }
.time-line { width: 1100px; margin-top: 60px; padding-top: 20px; background: url(../images1/main-history-bg.png) repeat-y; }

.time-line li { width: 974px; margin-bottom: 40px; padding-left: 126px; position: relative; }
.year { position: absolute; left: 21px; top: 32px; font-size: 16px; color: #d74539; }
.icon { position: absolute; left: 86px; top: 29px; background: url(../images1/time-icon.png) no-repeat; width: 19px; height: 19px; }
.timeline-text { padding: 32px 20px; background: #f7f7f7; border: 1px solid #e8e8e8; font-size: 14px; line-height: 25px; color: #666; }
.timeline-text img { width: 230px; height: 148px; margin-top: 15px; margin-right: 20px; }


.about-img { width: 813px; height: 260px; margin: 60px auto 0; }
.about-img img { width: 813px; height: 260px; }

.about-text { width: 100%; margin-top: 68px; font-size: 14px; line-height: 25px; color: #666; }


.product-main { width: 1100px; height: 637px; margin: 60px auto 0; font-size: 0; }
.product-main li { width: 275px; height: 637px; float: left; overflow: hidden; }
.product-main img { width: 275px; height: 480px; -webkit-transition:all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s; }
.product-img-text { width: 275px; height: 157px; background: #fff; position: relative; }
.product-img-title1 { position: absolute; font-size: 18px; left: 20px; top: 32px; color: #000; }
.product-line { width: 28px; height: 1px; background: #000; position: absolute; left: 20px; top: 58px; }
.product-img-title2 { position: absolute; font-size: 18px; left: 20px; top: 79px; color: #000; }

.product-main li:hover .product-img-text { background: #d74539; }
.product-main li:hover .product-img-title1 { color: #fff; }
.product-main li:hover .product-line { background: #fff; }
.product-main li:hover .product-img-title2 { color: #fff; }
.product-main li:hover img { transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); }

.product-list { width: 1100px; margin: 40px auto 0; font-size: 0;  }
.pl-ul { width: 1125px; }
.pl-img { width: 348px; height: 298px; overflow: hidden; }
.pl-ul img { width: 100%; height: 100%; -webkit-transition:all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s; }
.pl-ul li { width: 348px; height: 358px; border: 1px solid #e8e8e8; float: left;margin-right: 25px; margin-bottom: 24px; }
.pl-text { width: 100%; height: 59px; border-top: 1px solid #e8e8e8; background: #fff; font-size: 18px; line-height: 59px; text-indent: 20px; color: #333; }
.pl-ul li:hover img { transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); }
.pl-ul li:hover .pl-text { color: #d74539; }


.pagi { width: 1100px; height: 27px; margin: 0 auto; text-align: center; font-size: 0; }
.pagi li { display: inline-block; border: 1px solid #ccc; margin-right: 4px; }
.pagi a { font-size: 12px; line-height: 25px; padding: 0 8px; }
.pagi li:hover , .pagi-on { background: #d74539; }
.pagi li:hover a { color: #fff; }
.pagi-on a { color: #fff; }


.title-bar { width: 1090px; height: 40px; background: #e9e9e9; margin: 25px auto 0; padding-left: 10px; font-size: 20px; line-height: 40px; color: #d93f37; }
.title-bar span { font-size: 14px; line-height: 28px; color: #a5a5a5; margin-left: 5px; }
.title-bar-fs { background: #d93f37; color: #fff; }
.title-bar-fs span { color: #fff; }

.tpf { width: 1100px; margin: 20px auto 0; font-size: 0; }
.tpf img { width: 349px; height: 350px; }
.tpf ul { width: 738px; float: right; }
.tpf li { position: relative; margin-bottom: 20px; padding-left: 48px; font-size: 14px; line-height: 28px; color: 68px; background: url(../images1/qp.png) 0 5px no-repeat; }
.tpf span { position: absolute; left: 13px; top: 9px; color: #fff; font-size: 18px; line-height: 28px;}

.ap { width: 1100px; margin: 25px auto 0; }
.ap li { font-size: 14px; line-height: 28px; color: #686868; padding-left: 38px; margin-bottom: 25px; background: url(../images1/list-bg.png) 15px 7px no-repeat; }

.tp { width: 1100px; margin: 0 auto; font-size: 0; }
.tp tr { height: 39px; border-left: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; }
.tp td { text-align: center; font-size: 14px; line-height: 39px; border-right: 1px solid #dcdcdc;}
.tit { width: 319px; color: #3c3c3c; }
.num { width: 229px; color: #7e7e7e; }


.big-img { width: 1100px; margin: 50px auto; }
.big-img img { width: 100%; }

.t-title { width: 1100px; text-align: center; font-size: 0; margin: 50px auto 0; }
.t-title li { width: 192px; margin: 0 73px; padding-top: 84px; display: inline-block; }

.tt-1 { display: block; font-size: 24px; line-height: 28px; color: #333; }
.tt-2 { display: block; margin-top: 20px; font-size: 14px; line-height: 24px; color: #333; }
.tt-2 a { color: #f00; }
.tt-2 a:hover { text-decoration: underline; }




.iw_poi_title { color: #CC5522; font-size: 14px; font-weight: bold; overflow: hidden; padding-right: 13px; white-space: nowrap; }
.iw_poi_content { font: 12px arial,sans-serif; overflow: visible; padding-top: 4px; white-space: -moz-pre-wrap; word-wrap: break-word; }
.BMap_Marker { background: url(images/map-img.png) no-repeat center !important; }

#dituContent { float: left; }

.cont { margin-top: 62px; float: right; width: 384px; }
.cont li { margin-bottom: 30px; }
.ct-1 { display: block; font-size: 24px; font-weight: bold; line-height: 30px; color: #333; }
.ct-2 { display: block; font-size: 16px; line-height: 30px; color: #4f4f4f; }
.cont img { width: 128px; height: 128px; }



